.place__image {
  width: calc(100% + 32px);
  left: -16px;
  position: relative;
  /*margin-left: -5vw;*/
  /*Какая разница так или отприцательными марджинами двигать не понятно
  все же работает без скролов и в данном случае врятли чему то помешает.
  Ерунда какая то*/
}

@media screen and (min-width: 768px) {
  .place__image {
    left: 0;
    width: 100%;
  }
}
