.root {
  background-color: #2A2C2F;
  color: white;
  font-family: Inter, Arial, sans-serif;
  /*padding: 16px 16px 24px;*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}
/*
  @media screen and (min-width: 768px) {
    .root {
      padding: 28px 24px 24px;
    }
  }

  @media screen and (min-width: 1024px) {
    .root {
      padding: 28px 48px 24px;
    }
  }

@media screen and (min-width: 1280px) {
  .root {
    padding-left: 148px;
    padding-right: 148px;
  }
}*/
