.cover {
  background-image: url('../../images/cover-trains.jpg');
  margin-top: 64px;
  /*margin: 64px -5vw 0;*/
  height: 62.5vw;
  width: calc(100% + (10vw));
  background-size: cover;
  position: relative;
  left: -5vw;
  display: flex;
  flex-direction: column;
}

.cover:before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity .3s;
}

@media screen and (min-width: 1024px) {
  .cover:hover:before {
    opacity: 0.8;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: 92vw;
    left: calc((10vw + 20px - 4vw) * -1);
  }
}
