.footer {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    position: relative;
    width: 92vw;
    left: calc((10vw + 20px - 4vw) * -1);
  }
}
